.photos {
  &__inner {
    display: grid;
    justify-items: start;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(30);
    @include adaptiveValue(column-gap, 52, 20, 1920, 992, 1);

    @include _992 {
      grid-template-columns: 1fr;
      row-gap: rem(20);
    }
  }

  &__img {
    padding-bottom: 88.6%;
    width: 100%;
    display: block;

    @include _992 {
      padding-bottom: 54.6%;
    }

    @include _768 {
      padding-bottom: 91.6%;
    }

    @include _576 {
      padding-bottom: 80.6%;
    }
  }

  &__content {
    @include _768 {
      display: none;
    }
  }

  &__title {
  }

  &__btn {
    font-weight: 300;
    text-transform: uppercase;
    @include adaptiveValue(font-size, 20, 16, 1920, 360, 1);
    text-align: unset;
  }

  &__info {
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-auto-rows: min-content;
    row-gap: rem(20);
    @include adaptiveValue(padding-top, 40, 20, 1920, 992, 1);
    @include _992 {
      padding-top: 0;
    }

    @include _768 {
      row-gap: 0;
    }
  }

  &__info-body {
    display: grid;
    row-gap: rem(20);
    justify-items: start;
    grid-auto-rows: min-content;
    @include _992 {
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue(column-gap, 40, 20, 991, 576, 1);
      align-items: start;
      row-gap: rem(15);
    }
    @include _768 {
      display: none;
    }
  }

  &__content {
    width: 100%;
  }

  &__accordeon {
    display: none;
    @include _768 {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(10);
      row-gap: rem(5);
    }

    @include _576 {
      grid-template-columns: 1fr;
    }
  }

  &__accordeon-body {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 0.3s max-height ease;
  }

  &__accordeon-item {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: rem(10);
  }
}
