.faq {
  &__inner {
    display: grid;
    grid-template-columns: min-content 1fr;
    @include adaptiveValue(column-gap, 132, 30, 1920, 992, 1);
    @include _992 {
      grid-template-columns: 1fr;
      @include adaptiveValue(row-gap, 35, 20, 991, 360, 1);
    }
  }

  &__title {
  }

  &__questions {
  }

  &__item {
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 1px solid var(--primary);
      .faq__item-head {
      }
    }

    &:not(:first-child) {
      .faq__item-head {
        padding-top: rem(15);

        @include _576 {
          padding-top: rem(10);
        }
      }
    }

    &.active {
      .faq__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__item-head {
    display: grid;
    grid-template-columns: 1fr 16px;
    align-items: center;
    gap: rem(10);
    cursor: pointer;
    padding-bottom: rem(15);

    @include _576 {
      padding-bottom: rem(10);
    }
  }

  &__item-title {
    font-weight: 500;
    @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);
  }

  &__item-content {
    padding-bottom: rem(30);
    @include _576 {
      padding-bottom: rem(20);
    }
  }

  &__item-body {
    overflow: hidden;
    max-height: 0;
    will-change: max-height;
    transition: 0.3s max-height ease;
  }

  &__item-descr {
    max-width: rem(742);
    font-weight: 300;
    @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);
  }

  &__arrow {
    transition: transform 0.2s ease;
    height: 20px;
    align-self: start;
  }
}
