.photos {
  &__inner {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue(column-gap, 52, 20, 1920, 992, 1);
  }

  &__img {
    padding-bottom: 88.6%;
    width: 100%;
    display: block;
  }

  &__btns {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: rem(20);
  }

  &__title {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__btn {
    grid-column: 1/2;
    font-weight: 300;
    text-transform: uppercase;
    @include adaptiveValue(font-size, 20, 16, 1920, 360, 1);
  }

  &__content {
    grid-row: 1/10;
    width: 100%;
    grid-column: 2/3;
  }
}
