<!-- contact section -->

<section class="contact">
  <div class="container">
    <div class="contact__inner">
      <div class="contact__img ibg">
        <img
          loading="lazy"
          src="img/content/framed-silver-doors.jpg"
          class="image"
          width="640"
          height="570"
          alt=""
        />
      </div>
      <div class="contact__info">
        <h2 class="contact__title">Need a free <span>consultation?</span></h2>
        <a href="#" class="arrow-link contact__link white-arrow-link">Yes</a>
      </div>
    </div>
  </div>
</section>

<!-- contact section -->
