<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Marshall</title>

  <link rel="preload" href="fonts/Unbounded-Black.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Unbounded-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Unbounded-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Unbounded-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Unbounded-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" fetchpriority="high" as="image" href="img/content/hero.webp" type="image/webp">

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
