html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  font-family: var(--font-family, Arial, Helvetica, sans-serif);
  font-size: rem(16);
  line-height: 1.2;
  background-color: var(--lightgrey);
  @include adaptiveValue(padding-top, 79, 58, 1920, 1200, 1);
  color: var(--primary);

  @include _1200 {
    @include adaptiveValue(padding-top, 92, 79, 1200, 768, 1);
  }

  @include _768 {
    padding-top: rem(50);
  }

  @include _576 {
    padding-top: rem(44);
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto; // change to auto 1fr auto if header is not absolute
}

.is-hidden {
  display: none !important;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 20px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.global-wrapper {
  position: relative;
}

.locked {
  overflow: hidden;
}

.second_div {
  @include adaptiveValue(font-size, 48, 12, 1920, 1366, 1);
}

.hide {
  display: none;
}

section:not(:last-child) {
  @include adaptiveValue(margin-bottom, 100, 40, 1920, 360, 1);
}

.section-title {
  @include adaptiveValue(font-size, 45, 24, 1920, 360, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.arrow-link {
  background-color: var(--primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(10) rem(30) rem(10) rem(10);
  text-transform: uppercase;
  color: var(--lightgrey);
  font-weight: 500;
  position: relative;
  min-width: min(rem(190), 100%);
  text-align: center;
  min-height: rem(45);
  border-radius: 2px;
  transition: 0.2s box-shadow ease;

  &::after {
    content: '';
    width: 15px;
    height: 15px;
    right: rem(3);
    top: rem(4);
    background-repeat: no-repeat;
    background-image: url('../img/svg/arrow-white.svg');
    position: absolute;
  }

  &:hover {
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  }
}

.tabs__content {
  display: none;
  &-active {
    display: block;
  }
}

.bold-on-hover {
  &::after {
    content: attr(data-content);
    display: block;
    overflow: hidden;
    height: 0;
    font-weight: 500;
    font-size: rem(16);
    visibility: hidden;
  }

  &::before {
    content: attr(data-uppercase);
    display: block;
    overflow: hidden;
    height: 0;
    font-weight: 500;
    font-size: rem(16);
    visibility: hidden;
    text-transform: uppercase;
  }

  &:hover {
    font-weight: 500;
    text-transform: uppercase;
  }
}

button.tabs__btn-active {
  font-weight: 500;
  &::after {
    content: attr(data-content);
    display: block;
    overflow: hidden;
    height: 0;
    font-weight: 500;
    font-size: rem(16);
    visibility: hidden;
  }

  &::before {
    content: attr(data-uppercase);
    display: block;
    overflow: hidden;
    height: 0;
    font-weight: 500;
    font-size: rem(16);
    visibility: hidden;
    text-transform: uppercase;
  }
}
